.elementor-3744 .elementor-element.elementor-element-11dca81 > .elementor-container{max-width:1272px;}.elementor-3744 .elementor-element.elementor-element-11dca81{padding:10px 15px 10px 15px;}.elementor-3744 .elementor-element.elementor-element-1303bbc{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-3744 .elementor-element.elementor-element-1303bbc > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-3744 .elementor-element.elementor-element-5d59b69.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3744 .elementor-element.elementor-element-5d59b69.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3744 .elementor-element.elementor-element-5d59b69 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-3744 .elementor-element.elementor-element-5d59b69 > .elementor-element-populated{padding:24px 0px 24px 0px;}.elementor-3744 .elementor-element.elementor-element-700a401{text-align:left;width:auto;max-width:auto;}.elementor-3744 .elementor-element.elementor-element-700a401 > .elementor-widget-container{margin:0px 20px 0px 0px;}.elementor-3744 .elementor-element.elementor-element-5f82d3b{text-align:left;width:auto;max-width:auto;}.elementor-3744 .elementor-element.elementor-element-5f82d3b img{width:100%;}.elementor-3744 .elementor-element.elementor-element-5f82d3b > .elementor-widget-container{margin:0px 0px 0px 20px;}.elementor-bc-flex-widget .elementor-3744 .elementor-element.elementor-element-3f3de6e.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3744 .elementor-element.elementor-element-3f3de6e.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3744 .elementor-element.elementor-element-3f3de6e.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-3744 .elementor-element.elementor-element-3f3de6e > .elementor-element-populated{padding:24px 0px 24px 0px;}.elementor-3744 .elementor-element.elementor-element-31164fa > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3744 .elementor-element.elementor-element-31164fa{width:auto;max-width:auto;}.elementor-3744 .elementor-element.elementor-element-da76e4a .elementor-heading-title{color:#100040;font-size:14px;font-weight:800;text-transform:uppercase;line-height:1.2em;letter-spacing:3px;}.elementor-3744 .elementor-element.elementor-element-da76e4a > .elementor-widget-container{padding:0px 38px 0px 38px;}.elementor-3744 .elementor-element.elementor-element-da76e4a{width:auto;max-width:auto;}.elementor-3744 .elementor-element.elementor-element-22c4bede > .elementor-container{max-width:1272px;}.elementor-3744 .elementor-element.elementor-element-22c4bede{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:70px 10px 85px 10px;}.elementor-3744 .elementor-element.elementor-element-22c4bede > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-3744 .elementor-element.elementor-element-5e38c08.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3744 .elementor-element.elementor-element-5e38c08.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3744 .elementor-element.elementor-element-5e38c08 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-3744 .elementor-element.elementor-element-22dab79.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3744 .elementor-element.elementor-element-22dab79.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3744 .elementor-element.elementor-element-22dab79 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-3744 .elementor-element.elementor-element-22dab79 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-3744 .elementor-element.elementor-element-653ca0d .elementor-heading-title{color:#70668D;font-size:21px;font-weight:800;}.elementor-3744 .elementor-element.elementor-element-653ca0d > .elementor-widget-container{margin:0px 0px 11px 0px;padding:0px 0px 0px 0px;}.elementor-3744 .elementor-element.elementor-element-558c4ad{font-size:17px;font-weight:300;line-height:1.7em;width:267px;max-width:267px;}.elementor-bc-flex-widget .elementor-3744 .elementor-element.elementor-element-cae7073.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3744 .elementor-element.elementor-element-cae7073.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3744 .elementor-element.elementor-element-cae7073.elementor-column > .elementor-widget-wrap{justify-content:space-between;}.elementor-3744 .elementor-element.elementor-element-cae7073 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-3744 .elementor-element.elementor-element-cae7073 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-3744 .elementor-element.elementor-element-cae7073 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-3744 .elementor-element.elementor-element-39afd6f{width:236px;max-width:236px;}.elementor-3744 .elementor-element.elementor-element-f434340{width:236px;max-width:236px;}.elementor-3744 .elementor-element.elementor-element-6ea1651{width:236px;max-width:236px;}.elementor-3744 .elementor-element.elementor-element-98089fd > .elementor-container{max-width:1272px;}.elementor-3744 .elementor-element.elementor-element-98089fd{padding:0px 15px 18px 15px;}.elementor-3744 .elementor-element.elementor-element-a6bf8be{width:auto;max-width:auto;align-self:flex-end;}.elementor-bc-flex-widget .elementor-3744 .elementor-element.elementor-element-ddf8e94.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3744 .elementor-element.elementor-element-ddf8e94.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3744 .elementor-element.elementor-element-ddf8e94.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-3744 .elementor-element.elementor-element-23443cb{width:auto;max-width:auto;align-self:flex-end;}.elementor-3744 .elementor-element.elementor-element-deea103 > .elementor-widget-container{margin:0px 0px 0px 20px;}.elementor-3744 .elementor-element.elementor-element-deea103{width:auto;max-width:auto;align-self:flex-end;}@media(min-width:767px){.elementor-3744 .elementor-element.elementor-element-22dab79{width:30%;}.elementor-3744 .elementor-element.elementor-element-cae7073{width:70%;}}@media(max-width:1022px) and (min-width:767px){.elementor-3744 .elementor-element.elementor-element-5d59b69{width:40%;}.elementor-3744 .elementor-element.elementor-element-3f3de6e{width:60%;}.elementor-3744 .elementor-element.elementor-element-5e38c08{width:100%;}.elementor-3744 .elementor-element.elementor-element-22dab79{width:50%;}.elementor-3744 .elementor-element.elementor-element-cae7073{width:50%;}.elementor-3744 .elementor-element.elementor-element-e775503{width:40%;}.elementor-3744 .elementor-element.elementor-element-ddf8e94{width:60%;}}@media(max-width:1022px){.elementor-3744 .elementor-element.elementor-element-700a401{text-align:left;}.elementor-3744 .elementor-element.elementor-element-22c4bede:not(.elementor-motion-effects-element-type-background), .elementor-3744 .elementor-element.elementor-element-22c4bede > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:50% 0%;}.elementor-3744 .elementor-element.elementor-element-22c4bede{padding:30px 10px 40px 10px;}.elementor-3744 .elementor-element.elementor-element-74bd2ae{padding:0px 0px 0px 0px;}.elementor-3744 .elementor-element.elementor-element-653ca0d{text-align:left;}.elementor-3744 .elementor-element.elementor-element-cae7073:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-3744 .elementor-element.elementor-element-cae7073 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:82% 1%;}.elementor-3744 .elementor-element.elementor-element-cae7073 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-3744 .elementor-element.elementor-element-39afd6f > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-3744 .elementor-element.elementor-element-f434340 > .elementor-widget-container{margin:0px 0px 20px 0px;}}@media(max-width:766px){.elementor-bc-flex-widget .elementor-3744 .elementor-element.elementor-element-5d59b69.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3744 .elementor-element.elementor-element-5d59b69.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3744 .elementor-element.elementor-element-5d59b69.elementor-column > .elementor-widget-wrap{justify-content:space-around;}.elementor-3744 .elementor-element.elementor-element-700a401 img{width:51px;}.elementor-3744 .elementor-element.elementor-element-5f82d3b{text-align:left;width:auto;max-width:auto;}.elementor-3744 .elementor-element.elementor-element-5f82d3b img{width:133px;}.elementor-3744 .elementor-element.elementor-element-5f82d3b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3744 .elementor-element.elementor-element-3f3de6e.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-3744 .elementor-element.elementor-element-31164fa > .elementor-widget-container{margin:0px 0px 40px 0px;padding:0px 0px 0px 0px;}.elementor-3744 .elementor-element.elementor-element-31164fa{width:100%;max-width:100%;}.elementor-3744 .elementor-element.elementor-element-22c4bede:not(.elementor-motion-effects-element-type-background), .elementor-3744 .elementor-element.elementor-element-22c4bede > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:31% 1%;}.elementor-3744 .elementor-element.elementor-element-22c4bede{padding:60px 10px 40px 10px;}.elementor-3744 .elementor-element.elementor-element-22dab79{width:100%;}.elementor-3744 .elementor-element.elementor-element-22dab79.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-3744 .elementor-element.elementor-element-22dab79 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:20px 0px 40px 0px;}.elementor-3744 .elementor-element.elementor-element-653ca0d{text-align:center;}.elementor-3744 .elementor-element.elementor-element-558c4ad{text-align:center;}.elementor-3744 .elementor-element.elementor-element-cae7073{width:100%;}.elementor-3744 .elementor-element.elementor-element-cae7073.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-3744 .elementor-element.elementor-element-e775503.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-3744 .elementor-element.elementor-element-e775503 > .elementor-element-populated{padding:0px 0px 10px 0px;}.elementor-3744 .elementor-element.elementor-element-ddf8e94.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-3744 .elementor-element.elementor-element-23443cb > .elementor-widget-container{padding:0px 0px 10px 0px;}}/* Start custom CSS for image, class: .elementor-element-700a401 */.elementor-3744 .elementor-element.elementor-element-700a401 .elementor-image{
    text-align:left;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-5f82d3b */.elementor-3744 .elementor-element.elementor-element-5f82d3b .elementor-image{
    text-align:left;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-31164fa */.elementor-3744 .elementor-element.elementor-element-31164fa .social-icon {
    display: inline-block;
    border: none;
    width: fit-content;
    text-align: center;
    line-height: 1;
    border-radius: 50%;
    margin: 0 20px;
    color: #100040;
    transition: 0.3s ease;
}
.elementor-3744 .elementor-element.elementor-element-31164fa .social-icon:first-child{
    margin-left:0px;
}
.elementor-3744 .elementor-element.elementor-element-31164fa .social-icon:last-child{
    margin-right:0;
}
.elementor-3744 .elementor-element.elementor-element-31164fa .social-icon:hover {
    transform: scale(1.2);
}
.elementor-3744 .elementor-element.elementor-element-31164fa i{
    font-size: 20px;
}
.elementor-3744 .elementor-element.elementor-element-31164fa{
    text-align:center !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-da76e4a */.elementor-3744 .elementor-element.elementor-element-da76e4a:before{
    content: '';
    height: 80px;
    width: 76px;
    background: url(/wp-content/uploads/2019/02/ui-contact-btn-bg-footer.png);
    background-size:auto;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    left:0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    
}
.elementor-3744 .elementor-element.elementor-element-da76e4a:hover:before{
    animation-name: elementor-animation-bob-float,elementor-animation-bob;
    animation-duration: .3s,1.5s;
    animation-delay: 0s,.3s;
    animation-timing-function: ease-out,ease-in-out;
    animation-iteration-count: 1,infinite;
    animation-fill-mode: forwards;
    animation-direction: normal,alternate;
}
.elementor-3744 .elementor-element.elementor-element-da76e4a:after{
    content: '';
    background: url(/wp-content/uploads/2019/02/uico-arrow-btn-r.svg);
    background-size:auto;
    background-repeat: no-repeat;
    position: absolute;
    height: 10px;
    width: 28px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s ease;
}
.elementor-3744 .elementor-element.elementor-element-da76e4a:hover:after{
    right: 4px
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-1303bbc */.elementor-3744 .elementor-element.elementor-element-1303bbc:before{
    content:'';
    background:url(https://www.theshiftclinic.com/wp-content/uploads/2019/02/uico-footer-line-1.svg);
    height: 12.2px;
    background-size:cover;
    width: 100%;
    display: block;
}
.elementor-3744 .elementor-element.elementor-element-1303bbc:after{
    content:'';
    background:url(https://www.theshiftclinic.com/wp-content/uploads/2019/02/uico-footer-line-2.svg);
    background-size:cover;
    height: 7px;
    width: 100%;
    display: block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-653ca0d */.elementor-3744 .elementor-element.elementor-element-653ca0d:after{
    content: '';
    background:url(/wp-content/uploads/2019/02/uico-footer-git-bg@2x.png);
    background-size: 100%;
    height: 184px;
    width: 194px;
    position: absolute;
    top:-34px;
    left: 0;
    z-index: -1;
    animation-name: elementor-animation-bob-float,elementor-animation-bob;
    animation-duration: .3s,1.5s;
    animation-delay: 0s,.3s;
    animation-timing-function: ease-out,ease-in-out;
    animation-iteration-count: 1,infinite;
    animation-fill-mode: forwards;
    animation-direction: normal,alternate;
}

@media(max-width:767px){
    .elementor-3744 .elementor-element.elementor-element-653ca0d:after{
        margin:auto;
        right:0;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-74bd2ae */.elementor-3744 .elementor-element.elementor-element-74bd2ae .s1{
    color: #100040; 
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom:15px;
}
.elementor-3744 .elementor-element.elementor-element-74bd2ae .s2{
    display: flex;
    justify-content: space-between; 
    margin-bottom:5px;
}
.elementor-3744 .elementor-element.elementor-element-74bd2ae .s2 .day,.elementor-3744 .elementor-element.elementor-element-74bd2ae .s2 .time{
    color: #100040; 
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
}
.elementor-3744 .elementor-element.elementor-element-74bd2ae .s2 .time{
    min-width: 121px;
}
@media(max-width:767px){
    .elementor-3744 .elementor-element.elementor-element-74bd2ae .s1{
        text-align:center;   
    }
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-a6bf8be */.elementor-3744 .elementor-element.elementor-element-a6bf8be a{
    color: #100040;
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 15px;
  margin-right:10px;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-23443cb */.elementor-3744 .elementor-element.elementor-element-23443cb{
    color: #100040;
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 21px;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-deea103 */.elementor-3744 .elementor-element.elementor-element-deea103{
     color: #100040;
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 21px;
}/* End custom CSS */